<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <!-- 输出到Logstash的Appender -->
    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <!-- Logstash服务地址和端口 -->
        <destination>127.0.0.1:5000</destination>
        <!-- 日志格式：包含服务名、时间、级别等 -->
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <includeMdcKeyName>main-service</includeMdcKeyName>
            <customFields>{"service":"${spring.application.name}"}</customFields> <!-- 区分不同服务 -->
        </encoder>
    </appender>

    <!-- 根日志配置 -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/> <!-- 控制台输出 -->
        <appender-ref ref="LOGSTASH"/> <!-- 输出到Logstash -->
    </root>
</configuration>